<StackLayout class="page page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>

    <ListView class="list-group" [items]="this.noticias.buscar()" [class.-selected]="isComponentSelected('/detalle')" (itemTap)="onNavItemTap('/detalle')" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src=" res://icon" class="thumb img-circle"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>
